{% extends 'ontrack_app/base.html' %}

{% block body_block %}

<div class="container">
     <div class="media-container-row pt-5">
          <div class="accordion-content">
               <h1 style="color: black; text-align: center; font-size: 50px;">Oops! Something went wrong.</h1>
          </div>
     </div>
</div>



<!-- main content of the about us description -->
<div>
     <br>
     <p style="color: black; text-align: center; font-size: 20px;">You have provided an invalid login. Please try again.
     </p>



     <div class="container" style="padding:2em;">
          <br />
          <div class="row justify-content-center" style="float:inline-end; margin: 0 auto;">
               <div class="col-12 col-md-10 col-lg-8">
                    <div class="row no-gutters align-items-center">

                         <!--end of col-->
                         <a href="{% url 'login'%}" class="btn btn-lg btn-secondary"
                              style="text-align: center; margin: 0 auto; background-color: #343a40;">Login</a>
                    </div>
               </div>
               <!--end of col-->
          </div>

          <div class="container" style="padding:2em;">
               <br />
               <div class="row justify-content-center" style="float:inline-end; margin: 0 auto;">
                    <div class="col-12 col-md-10 col-lg-8">
                         <div class="row no-gutters align-items-center">

                              <!--end of col-->
                              <a href="{% url 'index'%}" class="btn btn-lg btn-secondary"
                                   style="text-align: center; margin: 0 auto; background-color: #343a40;">Home</a>
                         </div>
                    </div>
                    <!--end of col-->
               </div>
               {% endblock %}