{% extends 'ontrack_app/base.html' %}

{% block body_block %}


<div style="background-color: rgba(255,255,255,0.5);">
 <header class="entry-header">
        <h1 class="entry-title">About Us</h1>
    </header><!-- .entry-header -->
    
    
    <!-- main content of the about us description -->
    <div class="entry-content">
        <p>We are a small team, dedicated to helping you book appointments with your GP, view your upcoming appointments, have a zoom session with your Doctor as well as proving up-to-date information regarding COVID-19 restrictions and statistics in your local area. 
        </p>
{% endblock %}
        