{% extends 'ontrack_app/base.html' %}

{% block body_block %}

<body style="height: max-content;">
  <div class="container">
    <div class="media-container-row pt-5">
      <div class="accordion-content">
        <h1 style="color: #022B4C; text-align: left; font-size: 50px;">Appointments</h1>
      </div>
    </div>
  </div>


  <style>
    .speech {border: 0px solid rgb(0, 0, 0); width: 620px; padding: 0; margin: 0;}
    .speech input {border: 0; width: 1110px; display: inline-block; height: 100px;}
    .speech img {float: left; width: 40px;}
  </style>

  <!-- main content of the about us description -->
  <!-- <div class="entry-content">-->
 
  {% if user.is_authenticated %}
  <h2 style="color: #022B4C; text-align: left; font-size: 20px; padding-left: 10px;">Here you can book and view all of your
    appointments.</h2>

    <div style = "text-align: left; margin: auto; padding: 5px;">
      <a href="{% url 'apptsInfo'%}" class="btn btn-lg btn-secondary"
        style="text-align: center; background-color: #343a40;
        justify-content: center;" type="submit">Upcoming Appointments</a>
        <button class="btn btn-lg btn-secondary" style="float: right; background-color: #343a40;
        justify-content: center;" type="submit">
         <img  style = "width:32px;height:32px;" class="thumbnail"
         src="{{MEDIA_URL}}zoom.png" alt="Picture of zoom logo!">
         <img style="width:32px;height:32px;" class="thumbnail"
         src="{{MEDIA_URL}}skype.jfif" alt="Picture of zoom logo!">
        
        </button>
    </div>
    <div>



    </div>
      
  <div>
    <img style="border: 5px solid #555; float: right; width:1100px;height:500px;" class="thumbnail"
      src="{{MEDIA_URL}}LoggedinBooking.png" alt="Picture of Calender when user logged in!">
  </div>



  <form action="#">
    <label style="padding-top: 10px;" for="fname">Full Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">

    <label for="lname">Telephone Number</label>
    <input type="text" id="lname" name="lastname" placeholder="Your mobile or landline number">

    <label for="country">Available Appointment Times</label>
    <select id="country" name="country">
      <option value="09:00">09:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
      <option value="12:00">12:00</option>
      <option value="13:00">13:00</option>
      <option value="14:00">14:00</option>
      <option value="15:00">15:00</option>
    </select>

    <label style = "padding-top: 10px;" for="subject">Your message</label>      
      <!-- Search Form -->
      <form  id="labnol" method="get" action="https://www.google.com/search">
        <div class="speech">
          <input  type="text" name="q" id="transcript" placeholder="What would you like to speak to the GP about? (Please include your symptoms)." />
          <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
        </div>
      </form>
      
      <!-- HTML5 Speech Recognition API -->
      <script>
        function startDictation() {
      
          if (window.hasOwnProperty('webkitSpeechRecognition')) {
      
            var recognition = new webkitSpeechRecognition();
      
            recognition.continuous = false;
            recognition.interimResults = false;
      
            recognition.lang = "en-US";
            recognition.start();
      
            recognition.onresult = function(e) {
              document.getElementById('transcript').value
                                       = e.results[0][0].transcript;
              recognition.stop();
              document.getElementById('labnol').submit();
            };
      
            recognition.onerror = function(e) {
              recognition.stop();
            }
      
          }
        }
      </script>
    <!--<button style="background-color: #343a40; color: white;" id="start-record-btn" title="Start Recording">Start
      Dictation</button>
    <button style="background-color: #343a40; color: white;" id="pause-record-btn" title="Pause Recording">Pause
      Dictation</button> -->
    <p style="padding-top: 7px;" >Press the <strong>microphone icon</strong> and allow access to use our speech-to-text feature.</p>

    <input style="background-color: #343a40 ;" type="submit" value="Submit"
      onClick="alert('Thank you for booking with us. If there are any issues we will contact you on the number provided.');">

    </div>
  </form>
  </div>
  </div>


  {% endif %}

  {% if not user.is_authenticated %}
  <div>
    <h2 style="color: #f80808; text-align: left; font-size: 20px; padding-left: 10px;">Please log in to view your upcoming appointments.
    </h2>

  </div>
  <div>
    <img style="border: 5px solid #555; float: right; width:1100px;height:500px;" class="thumbnail"
      src="{{MEDIA_URL}}LoggedoutBooking.png" alt="Picture of Calender when user logged in!">
  </div>



  <form action="#">
    <label style="padding-top: 20px;" for="fname">Full Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">

    <label for="lname">Telephone Number</label>
    <input type="text" id="lname" name="lastname" placeholder="Your mobile or landline number">

    <label for="country">Available Appointment Times</label>
    <select id="country" name="country">
      <option value="09:00">09:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
      <option value="12:00">12:00</option>
      <option value="13:00">13:00</option>
      <option value="14:00">14:00</option>
      <option value="15:00">15:00</option>
    </select>

    <label style = "padding-top: 10px;" for="subject">Your message</label>      
      <!-- Search Form -->
      <form  id="labnol" method="get" action="https://www.google.com/search">
        <div class="speech">
          <input type="text" name="q" id="transcript" placeholder="What would you like to speak to the GP about? (Please include your symptoms)." />
          <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
        </div>
      </form>
      
      <!-- HTML5 Speech Recognition API -->
      <script>
        function startDictation() {
      
          if (window.hasOwnProperty('webkitSpeechRecognition')) {
      
            var recognition = new webkitSpeechRecognition();
      
            recognition.continuous = false;
            recognition.interimResults = false;
      
            recognition.lang = "en-US";
            recognition.start();
      
            recognition.onresult = function(e) {
              document.getElementById('transcript').value
                                       = e.results[0][0].transcript;
              recognition.stop();
              document.getElementById('labnol').submit();
            };
      
            recognition.onerror = function(e) {
              recognition.stop();
            }
      
          }
        }
      </script>
    <!-- <button style="background-color: #343a40; color: white;" id="start-record-btn" title="Start Recording">Start
      Dictation</button>
    <button style="background-color: #343a40; color: white;" id="pause-record-btn" title="Pause Recording">Pause
      Dictation</button> -->
    <p>Press the <strong>microphone icon</strong> and allow access to use our speech-to-text feature.</p>

    <input style="background-color: #343a40;" type="submit" value="Submit"
      onClick="alert('Thank you for booking with us. If there are any issues we will contact you on the number provided.');">

    </div>
  </form>
  </div>
  </div>

  {% endif %}

  </div>
  </div>
  </div>
</body>
{% endblock %}