{% extends 'ontrack_app/base.html' %}

{% block body_block %}


<div class="container">
  <div class="media-container-row pt-5">
    <div class="accordion-content">
      <h1 style="color: #022B4C; text-align: left; font-size: 50px;">Appointments</h1>
    </div>
  </div>
</div>
<p style="color: #022B4C; text-align: left; font-size: 20px; padding-left: 10px;">Here you can view all your upcoming and previous appointments.</p>
</div>
</div>
</div>

<h2 style="padding:10px;">Upcoming Appointments</h2>
<ul style="border-style: dotted;">
  <li>November
    <ul>
      <li><strong>Monday 30th November 2020 at 13:00pm</strong> - You are booked in with Nurse Russell to receive your flu jab.</li>
    </ul>
  </li>
  <li>December 
    <ul>
      <li>You currently have no appointments booked for December.</li>
    </ul>
  </li>
  <li>January
    <ul>
      <li><strong>Tuesday 12th January 2021 at 10:00am</strong> - Remember to call to book your bi-monthly blood test.</li>
      <li><strong>Monday 18th January 2021 at 15:35pm</strong> - You are booked in with Dr Smith to review your prescription.</li>
    </ul>
  </li>
</ul>

<h2 style="padding:10px;">Previous Appointments</h2>
<ul style="border-style: dotted;">
  <li>November
    <ul>
      <li><strong>Thursday 12th November 2020 at 10:00am</strong> - You were seen by Nurse Russell to receive your bi-monthly blood test.</li>
    </ul>
  </li>
  <li>October 
    <ul>
      <li>You did not have any appointments booked in October.</li>
    </ul>
  </li>
  <li>September
    <ul>
      <li><strong>Monday 14th September 2020 at 11:30am</strong> - You were seen by Nurse Russell to receive your bi-monthly blood test.</li>
    </ul>
  </li>
</ul>



{% endblock %}