{% extends 'ontrack_app/base.html' %}

{% block body_block %}

<body style="height: max-content;">
  <div class="container">
    <div class="media-container-row pt-5">
      <div class="accordion-content">
        <h1 style="color: black; text-align: center; font-size: 50px;">Appointments</h1>
      </div>
    </div>
  </div>


  <!-- main content of the about us description -->
  <!-- <div class="entry-content">-->

  {% if user.is_authenticated %}
  <p style="color: black; text-align: center; font-size: 20px;">Wecome back {{ user.username }}! View all of your
    appointments here.</p>

  <p style="color: black; text-align: center; font-size: 20px;">Your next appointment is on 19th November 2020, at
    14:30.</p>

  <div>
    <img style="border: 5px solid #555; float: right; width:1100px;height:500px;" class="thumbnail"
      src="{{MEDIA_URL}}LoggedinBooking.png" alt="Picture of Calender when user logged in!">
  </div>



  <form action="#">
    <label style="padding-top: 20px;" for="fname">Full Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">

    <label for="lname">Telephone Number</label>
    <input type="text" id="lname" name="lastname" placeholder="Your mobile or landline number">

    <label for="country">Available Appointment Times</label>
    <select id="country" name="country">
      <option value="09:00">09:00</option>
      <option value="10:00">10:00</option>
      <option value="11:00">11:00</option>
      <option value="12:00">12:00</option>
      <option value="13:00">13:00</option>
      <option value="14:00">14:00</option>
      <option value="15:00">15:00</option>
    </select>

    <label for="subject">Your message</label>
    <textarea id="subject" name="subject"
      placeholder="What would you like to speak to the GP about? (Please include your symptoms)."
      style="height:100px"></textarea>

    <input type="submit" value="Submit" onClick="alert('Thank you for booking with us. If there are any issues we will contact you on the number provided.');">
    </div>
  </form>
  </div>
  </div>

  {% endif %}

  {% if not user.is_authenticated %}
  <div>
    <p style="color: black; text-align: center; font-size: 20px;">Please log in to view your upcoming appointments.
    </p>

  </div>
      <div>
        <img style="border: 5px solid #555; float: right; width:1100px;height:500px;" class="thumbnail"
          src="{{MEDIA_URL}}LoggedoutBooking.png" alt="Picture of Calender when user logged in!">
      </div>
    
    
    
      <form action="#">
        <label style="padding-top: 20px;" for="fname">Full Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name">
    
        <label for="lname">Telephone Number</label>
        <input type="text" id="lname" name="lastname" placeholder="Your mobile or landline number">
    
        <label for="country">Available Appointment Times</label>
        <select id="country" name="country">
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
        </select>
    
        <label for="subject">Your message</label>
        <textarea id="subject" name="subject"
          placeholder="What would you like to speak to the GP about? (Please include your symptoms)."
          style="height:100px"></textarea>
    
          <input type="submit" value="Submit" onClick="alert('Thank you for booking with us. If there are any issues we will contact you on the number provided.');">
        </div>
      </form>
      </div>
      </div>
    
      {% endif %}

    </div>
  </div>
  </div>
</body>
{% endblock %}