<!DOCTYPE html>
{% extends 'ontrack_app/base.html' %}
{% load static %}

{% block title_block %}
{{ page.title }}

{% endblock %}

<!-- basic text for the index page -->
{% block body_block %}
<div style="padding:2em;">
  <h1 style="color: #022B4C; text-align: left; font-size: 50px;">Dashboard</h1>
  <h2 style="color: #022B4C; text-align: left; font-size: 20px;">Welcome to OnTrack! Here you can view your upcoming
    appointments, book new appointments, hold zoom sessions with your GP, track COVID-19 cases in your area, and
    get up-to-date information about restrictions in your local area.</h2>
</div>
<div>
  <div style="width:480px; float:right">
    <iframe style=display:block width="420" height="310"
      src="https://www.youtube.com/embed/QV_UnPl8qMA?autoplay=1&mute=1" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="container">
    <br />
    <div class="row justify-content-left" style="float: inline-end; margin: 0 auto;">
      <div class="col-12 col-md-10 col-lg-8">
        <p style="color: #022B4C; text-align:left; font-size: 20px;">Enter your postcode to find out about local
          COVID-19 restrictions in your area.</p>
        <form class="card card-sm">
          <div class="row no-gutters align-items-center">

            <!--end of col-->
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Postcode">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <a href="{% url 'symptoms'%}" class="btn btn-lg btn-secondary"
                style="text-align: center; background-color: #343a40;" type="submit">Search</a>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div>
</div>
<div class="container" style="padding:2em;">
  <br />
  <div class="row justify-content-left" style="float:inline-end; margin: 0 auto;">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row no-gutters align-items-center">

        <!--end of col-->
        <a href="{% url 'appts'%}" class="btn btn-lg btn-secondary"
          style="text-align: center; margin: 0 auto; background-color: #343a40;">Book an appointment</a>
      </div>
    </div>
    <!--end of col-->
  </div>




  {% endblock %}