{% extends 'ontrack_app/base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}

<div class="container">
	<div class="media-container-row pt-5">
	  <div class="accordion-content">
<h1 style="color: black; text-align: left; font-size: 50px;">Login to OnTrack</h1>
<form id="user_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <input style = "padding: 10px; width: 250px;" type="text" name="username" value="" size="25" />
	Password: <input style = "padding: 10px;" type="password" name="password" value="" size="25" />
<div style = "float: inline-end;">
	<input class="btn btn-lg btn-secondary" style="background-color: #343a40; padding: 20px;" type="submit" value="submit" />
</div>
</form>

</div>
</div>
</div>

{% endblock %}