{% extends 'ontrack_app/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}




<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Register for OnTrack!</h4>
	<p class="text-center">Get started with your free account</p>
	<p class="divider-text"> </p>
    <!-- if registered a link is provided to return to homepage --> 
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
	{% else %}

		<form id="user_form" method="post" action="{% url 'register' %}"
		enctype="multipart/form-data">
        <!-- creates account --> 
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
            <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" name="submit"> Create Account  </button>
    </div> <!-- form-group// -->  
	</form>
    
    
	{% endif %}                                                                            
{% endblock %}