{% extends 'ontrack_app/base.html' %}

<!-- terms of service - purely text laid out down the page -->
{% block body_block %}

<div style="background-color: rgba(255,255,255,0.5);">
    <header class="entry-header">
        <h1 class="entry-title">Terms and Conditions</h1>
    </header><!-- .entry-header -->

    <div>
        <p>Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim to
            always take care you and we won't include any terms apart from what we absolutely have to</p>
        <ol>
            <li><strong>Application of Terms</strong>
                <ol>
                    <li>By visiting and OnTrack, you confirm that you are in agreement with and bound by the terms
                        outlined below. These terms apply to the website, emails, or any other communication.</li>
                </ol>
            </li>
            <li><strong>Login</strong>
                <ol>
                    <li>By using our account service you agree to be registered to our database as well as possibly
                        receiving the occassional email from us if we're changing any terms and cond or have a
                        promotion.</li>
                </ol>
            </li>
            <li><strong>Our Site</strong>
                <ol>
                    <li>We reserve the right to change our website in whatever way and whenever we choose to.</li>
                </ol>
            </li>
            <li><strong>Ownership</strong>
                <ol>
                    <li>Ownership of the product is governed by the usage licenses.</li>
                </ol>
            </li>
            <li><strong>Membership &amp; Content</strong>
                <ol>
                    <li>Membership is a benefit for those who follow our terms and policies. We may at any time suspend
                        or terminate your account.</li>
                    <li>We can view and/or remove any content for any reason at our own discretion. This will typically
                        only be exercised for issues needing immediate resolution, such as, but not limited to, the
                        posting of unauthorized content, offensive content, illegal content, or anything breaching
                        anyone else’s rights.</li>
                </ol>
            </li>
            <li><strong>Requesting, Modifying or Deleting Your Data (GDPR)</strong>
                <ol>
                    <li>We are a small operation, but we work hard to make sure your data remains safe and we only
                        collect what is needed to provide our services. If you want to request an export of your data, a
                        modification to any data we have related to your account, or delete of all data permanently,
                        please contact us and we will do it as soon as is possible.</li>
                </ol>
            <li><strong>Changes to terms</strong>
                <ol>
                    <li>If we change our terms of use we will post those changes on this page.</li>
                </ol>
            </li>
        </ol>
    </div><!-- .entry-content -->
</div>

{% endblock %}