{% extends 'ontrack_app/base.html' %}

{% block body_block %}


<div class="container">
    <div class="media-container-row pt-5">
        <div class="accordion-content">
            <h1 style="color: #022B4C; text-align: left; font-size: 50px;">COVID-19 - What You Need to Know</h1>

            <div id="bootstrap-accordion_474" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist"
                aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                            data-parent="#bootstrap-accordion_474" data-core="" href="#collapse1_474"
                            aria-expanded="false" aria-controls="collapse1">
                            <h4 class="mbr-fonts-style display-5">
                                <!-- question -->
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> What should I do?
                            </h4>
                        </a>
                    </div>
                    <div id="collapse1_474" class="panel-collapse noScroll collapse" role="tabpanel"
                        aria-labelledby="headingOne">
                        <div class="panel-body p-4">
                            <!-- answer -->
                            <p class="mbr-fonts-style panel-text display-7">
                            <ul>
                                <li>
                                    Try to stay at least 2 metres (3 steps) away from anyone you do not live with (or
                                    anyone not in your support bubble).
                                </li>
                                <li>
                                    Wash your hands with soap and water often – do this for at least 20 seconds.
                                </li>
                                <li>
                                    Use hand sanitiser gel if soap and water are not available.
                                </li>
                                <li>
                                    Cover your mouth and nose with a tissue or your sleeve (not your hands) when you
                                    cough or sneeze.
                                </li>
                                <li>
                                    Put used tissues in the bin immediately and wash your hands afterwards.
                                </li>
                                <li>
                                    If you live alone or you’re a single parent who lives alone with your children, you
                                    can meet with 1 other household without social distancing.
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                            data-parent="#bootstrap-accordion_474" data-core="" href="#collapse2_474"
                            aria-expanded="false" aria-controls="collapse2">
                            <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                <!-- question -->
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> What should I not do?
                            </h4>
                        </a>

                    </div>
                    <div id="collapse2_474" class="panel-collapse noScroll collapse" role="tabpanel"
                        aria-labelledby="headingTwo">
                        <div class="panel-body p-4">
                            <!-- answer -->
                            <p class="mbr-fonts-style panel-text display-7">
                            <ul>
                                <li>
                                    Do not touch your eyes, nose or mouth if your hands are not clean.
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                            data-parent="#bootstrap-accordion_474" data-core="" href="#collapse2_474"
                            aria-expanded="false" aria-controls="collapse2">
                            <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                <!-- question -->
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Face Coverings
                            </h4>
                        </a>

                    </div>
                    <div id="collapse2_474" class="panel-collapse noScroll collapse" role="tabpanel"
                        aria-labelledby="headingTwo">
                        <div class="panel-body p-4">
                            <!-- answer -->
                            <p class="mbr-fonts-style panel-text display-7">
                                If you can, wear something that covers your nose and mouth in places where it's hard to
                                stay away from other people. There are some places where you must wear a face covering,
                                such as:

                            <ul>
                                <li>
                                    On public transport
                                </li>
                                <li>
                                    In shops
                                </li>
                                <li>
                                    When you go to hospital appointments or visit someone in hospital
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                            data-parent="#bootstrap-accordion_474" data-core="" href="#collapse2_474"
                            aria-expanded="false" aria-controls="collapse2">
                            <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                <!-- question -->
                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Your Health & Wellbeing
                            </h4>
                        </a>

                    </div>
                    <div id="collapse2_474" class="panel-collapse noScroll collapse" role="tabpanel"
                        aria-labelledby="headingTwo">
                        <div class="panel-body p-4">
                            <!-- answer -->
                            <p class="mbr-fonts-style panel-text display-7">
                                To help yourself stay well:

                            <ul>
                                <li>
                                    Consider taking 10 micrograms of vitamin D each day if you're indoors most of the
                                    day – this is to keep your bones and muscles healthy
                                </li>
                                <li>
                                    Try to quit smoking – smoking can make you more likely to get infections like
                                    coronavirus and become seriously ill
                                </li>
                                <li>
                                    Eat a healthy balanced diet
                                </li>
                            </ul>
                            </p>

                        </div>

                    </div>
                </div>
            </div>


            <section class="accordion1 cid-qv5AiTkod8" id="accordion1-5b" data-rv-view="10344">





                {% endblock %}